.background {
  background-color: rgb(247, 245, 240);
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(63, 63, 63);
  height: 75px;
  width: 100vw;
}

.dev {
width: 60vw;
color: rgb(41, 112, 245);
font-size: 25px;
}

.links {
 color: white;
}


#profile-box {
  margin-top: 120px;
  margin-right: 40px;
  padding: 25px;
  float: right;
  -webkit-box-shadow: 1px 5px 50px -19px #000000; 
box-shadow: 1px 5px 50px -19px #000000;
background-color: white;
overflow: hidden;
}

#profile-img {
  float: right;
  /* padding-top: 110px;
  padding-right: 40px; */
  height: 140px;
  width: 140px;
}

#name {
  margin-left: 30px;
}

.body {
  max-width: 70vw;
  margin-left: 5vw;
}

#title {
  padding-top: 100px;
  font-size: 25px;
}

#profile-box1 {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  -webkit-box-shadow: 1px 5px 50px -19px #000000; 
  box-shadow: 1px 5px 50px -19px #000000;
  background-color: white;
  padding: 20px;
  margin-right: 40px;
  margin-top: 25px;
  /* margin-top: 100px; */
}

#bold {
  font-weight: bold;
}

#blue {
  position: relative;
  left: 90%;
  color: blue;
}

#images {
margin-left: 50px;
}

.blue-footer {
  display: flex;
  height: 75px;
  width: 100vw;
  background-color: rgb(41, 112, 245);
  align-items: center;
}